@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Centraliza o conteúdo horizontalmente */
  padding: 10px;
  height: 50px;

}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.card {
  background-color: white;
  padding: 30px;
  box-shadow: 3px 3px 1px 0px #00000060;
  width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #088425
}

.label-float input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #088425;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;

}

.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus {
  border-bottom: 2px solid #088425;
}

.label-float label {
  color: #088425;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus+label,
.label-float input:valid+label {
  font-size: 13px;
  margin-top: 0;
  color: #4038a0
}

button {
  background-color: transparent;
  border-color: #088425;
  color: #088425;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover {
  background-color: #088425;
  color: #fff;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.fa-eye {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #088425;
}

#msgError {
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess {
  text-align: center;
  color: #088425;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

/* Estilização do select */
.selecao {
  width: 100%;
  padding: 8px;
  border: 2px solid #088425;
  /* Cor de borda */
  border-radius: 4px;
  /* Bordas arredondadas */
  font-family: 'Poppins', sans-serif;
  /* Fonte Poppins */
  background-color: #f0f0f0;
  /* Fundo do select */
  color: #088425;
  /* Cor do texto */
  appearance: none;
  /* Remove a seta padrão */
  cursor: pointer;
  /* Muda o cursor ao passar sobre o select */
}

/* Adiciona uma seta personalizada */
.selecao::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Estilização das opções */
.selecao option {
  padding: 10px;
  background-color: #fff;
  /* Fundo das opções */
  color: #333;
  /* Cor do texto */
}

.selecao option:hover {
  background-color: #088425;
  /* Cor ao passar o mouse */
}